<!-- dashboard.html -->


<div class="row ng-cloak">
	<div class="col-md-3">
		<div class="panel panel-default pad">
			<div class="profile-left">
				<img id="profile-img" class="img-responsive img-rounded" src="{{avatar}}" alt="{{username}}"/>
			</div>
			<div class="profile-right">
				<h3>{{name}}</h3>
				<p>Gender: <b>{{gender}}</b></p>
				<p>Average Daily Steps: <b>{{averageDailySteps}}</b></p>
			</div>
			<div style="clear: both;"></div>
		</div>
	</div>
	<div class="col-md-9">
		<div class="panel panel-default pad">
			<h2>Dashboard</h2>
			<hr>
			<u><h4>Recent Activity</h4></u>
			<canvas id="line" class="chart chart-line" chart-data="data"
			  chart-labels="labels" chart-legend="true" chart-series="series"
			  chart-click="onClick">
			</canvas> 
			<hr>
			<table class="table table-hover table-bordered marge" ng-repeat="info in activity">
				<tr><th colspan="2"><h4>{{info['day']}}</h4></th></tr>
				<tr><th>Total Steps</th><td>{{info['steps']}}</td></tr>
				<tr><th>Total Calories Burned</th><td>{{info['calories']}}</td></tr>
				<tr><th>BMR</th><td>{{info['caloriesBMR']}}</td></tr>
			</table>
			<br>
		</div>
	</div>
</div>

